#texto {
    
    font-size: 30px;
    
}

.form-control {
   
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: black;
}

.container-add {
    width: 100%;
    margin: 50px auto;
    
    
}

.container-title {
    margin: 0;
    padding: 10px;
    background: rgb(214, 64, 4);
    color: white;
    font-size: 1.9em;
    text-align: center;
    
}



.container-form {
    background:white;
    box-shadow: 0 0 20px #333;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.form-label {
    font-size: 1.3em;
    width: 20%;
}

.form-control {
    width: 25%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 5px;
}

.btn-add {
    
    
    width: 25%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 5px;
    
    font-size: 1.1em;
    cursor: pointer;
}

/*Tabla*/
.container-tabla {
    width: 90%;
    background:white;
    margin: 50px auto;
    box-shadow: 0 0 20px #333;

    display:grid;
    grid-template-columns: repeat(6, ifr);
    grid-auto-rows: 50px;

    position: relative;
}



.titulo-tabla {
    grid-column-start: 1;
    grid-column-end: 12;

    background: rgb(102, 105, 110);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}

.tabla-header, .tabla-item {
    display:inline-table;
    justify-content: center;
    align-items: center;
}

.tabla-header {
    font-weight: bold;
    font-size: 1.0em;
    
    
    
}

.tabla-item {
    padding: 10px;
    font-size: 1.0em;
}
/*

Mdificar
 */ 
.title-edit {
    position: absolute;
    right: 7%;
    color: white;
    text-decoration: none;
    font-size: 1em;

}

.title-edit:hover {
    text-decoration: underline;
}

.container_tabla_modificar {
    grid-template-columns: repeat(12, ifr);
    width: 95%;
    min-width: 900px;
    grid-auto-rows: 40px;
}

.titulo-tabla-edit {
    grid-column-start: 1;
    grid-column-end: 13;
}

.container-producto_modificar {
    grid-template-columns: repeat(12, ifr);
    width: 95%;
    min-width: 900px;
    grid-auto-rows: 40px;
}

.titulo-producto_edit {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-auto-rows: 40px;
}


/*comienza tabla de pedidos */




/*termina tabla de pedidos */

/* Editar.php
*/
.tabla-input {
    display: block;
    padding-left: 10px;
    
}

#botonad {
    background-color: yellowgreen;
    margin: 0%;
    padding: 0%;
    
}

